{% extends "base.html" %}

{% block content %}
<div class="container welcome-container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>欢迎使用科学计算器</h1>
            {% if current_user.is_authenticated %}
                <p>您可以开始使用<a href="{{ url_for('calculator') }}">计算器</a></p>
            {% else %}
                <p>请先<a href="{{ url_for('login') }}">登录</a>或<a href="{{ url_for('register') }}">注册</a>以使用计算器</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
